{% extends 'html.html.twig' %}

{% block skiplinks %}
<a href="#main-content" class="govuk-skip-link">{{ 'Skip to results'|t }}</a>
<a href="#search-region" class="govuk-skip-link">{{ 'Skip to search'|t }}</a>
{% endblock %}
