<p>You’ve expressed an interest in being a part of the NLC Leadership Programme. We aim to advise successful delegates no later than Easter 2020.</p>

<p><span class="govuk-phase-banner__content">If you’d like to contact a member of the team to ask a question or opt out, email XXXX@XXXXX.</span></p>

<a href="#" id="close-registered">Close this notification</a>