<p><span class="govuk-phase-banner__content">By clicking the button, you consent to receiving occasional personal correspondence from the NLC Programme team. Opt out by emailing <a href="mailto:NLC@CabinetOffice.gov.uk">NLC@CabinetOffice.gov.uk</a>. See our full <a href="https://www.nationalleadership.gov.uk/privacy/">privacy policy</a>.</span></p>
<p><a href="#" id="nlc-register-interest-not-now">Not now</a></p>
</div>

