<p><span class="govuk-phase-banner__content">By clicking the button, you consent to receiving occasional personal correspondence from the NLC Programme team. Opt out by emailing XXXX@XXXX. See our full privacy policy.</span></p>
</div>