<p>Thank you for using your secure link. Please confirm your access to the Connect Directory by clicking on the Log in button.</p>

<p class="govuk-!-margin-top-6"><a class="button" href="{{ check_url }}">Login</a></p>
