.button,
.button:link,
.button:visited {
	font-size: 1em;
	padding: .5em .8em;
	border: 2px solid $red;
	background-color: $red;
	color: $white;
	cursor: pointer;
	width: auto;
	text-decoration: none;
	display: inline-block;
}
.button:hover {
	background-image: $gradient;
	text-decoration: underline;
}
.button:focus {
	outline: 4px solid $grey;
}
.button--link {
	background-color: transparent;
	border-color: transparent;
	color: inherit;
	font-size: inherit;
	text-decoration: underline;
	&:hover {
		text-decoration: none;
	}
}