.sliding-popup-bottom {
  width: 100%;
}
.eu-cookie-compliance-banner {
  background-color: $yellow;
  text-align: center;
  padding: govuk-px-to-rem(19) govuk-px-to-rem(20) govuk-px-to-rem(21);
  font-family: $font-family-secondary;
  font-size: govuk-px-to-rem(15);
  line-height: govuk-em(22, 15);
  @media (min-width: govuk-px-to-rem(880)) {
    font-size: govuk-px-to-rem(17);
    line-height: govuk-em(25, 17);
    padding: govuk-px-to-rem(14) 0;
  }
  p {
    font-size: inherit;
    line-height: inherit;
    @media (min-width: govuk-px-to-rem(880)) {
      display: inline;
    }
  }
  a,
  .govuk-link {
    color: $grey;
    font-size: inherit;
    line-height: inherit;
  }
}
.eu-cookie-compliance-secondary-button {
  font-family: $font-family-secondary;
  @media (min-width: govuk-px-to-rem(880)) {
    float: right;
  }
}
