// Override the govuk styles
.js-enabled .govuk-accordion__section-button {
    font-size: inherit;
    line-height: 1.52631579em;
    padding: 14px 16px 13px 0;
}
.js-enabled .govuk-accordion__icon:after {
    content: none;
}
.js-enabled .collapsiblockCollapsed .govuk-accordion__icon:after {
    content: '';
}