.govuk-table {
  font-size: govuk-px-to-rem(23);
  line-height: govuk-em(33, 23);
  font-weight: 400;
  @media (max-width: 660) {
    font-size: govuk-px-to-rem(23);
    line-height: govuk-em(33, 23);
  }
}

.govuk-table__header {
  font-size: govuk-px-to-rem(19);
  line-height: govuk-em(28, 19);
  font-weight: 700;
  @media (max-width: govuk-px-to-rem(535)) {
    font-size: govuk-px-to-rem(17);
    // line-height: govuk-em(24, 17);
  }
}
