// Content library block
$mobile: 576px;
$tablet: 768px;

.nlc-content-block-wrapper {
  //background-color: $very-light-grey;
  padding-top: govuk-px-to-rem(100px);

  &.no-images {
    padding-top: govuk-px-to-rem(40px);

    .nlc-content-block__item {
      @media only screen and (max-width: $tablet) {
        margin-bottom: govuk-px-to-rem(20px);
      }
    }
  }
}

.nlc-content-block {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 govuk-px-to-rem(-15px);
  padding: 0;
}
.nlc-content-block__item {
  height: fit-content;
  padding: 0 govuk-px-to-rem(10px) govuk-px-to-rem(30px);
  flex: 1 0 30%;
  min-width: govuk-px-to-rem(210);
  max-width: govuk-px-to-rem(437);
}
.nlc-content-block__card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nlc-content-block__item p {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  color: inherit;
  font-weight: inherit;
}

.nlc-content-block__item__name {
  margin: 0;
  padding: govuk-px-to-rem(10px);
  font-family: $govuk-font-family;
  font-size: govuk-px-to-rem(19);
  line-height: govuk-em(28, 19);
  font-weight: 700;
  a {
    color: $grey;
  }
  @media only screen and (min-width: $tablet) {
    font-size: govuk-px-to-rem(19);
    line-height: govuk-em(28, 19);
  }
}

.nlc-content-block__item__bio {
  padding: govuk-px-to-rem(10px);
  font-size: govuk-px-to-rem(17);
  line-height: govuk-em(25, 17);
  font-family: $font-family-secondary;

  p {
    @media only screen and (max-width: $tablet) {
      font-size: govuk-px-to-rem(14px);
      line-height: govuk-px-to-rem(20px);
    }
  }
}

.nlc-content-block__topic {
  background: $grey;
  color: $white;
  padding: govuk-px-to-rem(2) govuk-px-to-rem(10);
  font-family: $govuk-font-family;
  font-weight: 700;
  font-size: govuk-px-to-rem(17);
  line-height: govuk-em(25, 17);
  order: -1;
}
.nlc-content-block__topic--ways-of-working {
  background: $ways-of-working;
}
.nlc-content-block__topic--wellbeing {
  background: $wellbeing;
}
.nlc-content-block__topic--crisis-leadership {
  background: $crisis-leadership;
  color: inherit;
}
.nlc-content-block__topic--covid-19-response {
  background: $covid-19-response;
}
.nlc-content-block__topic--covid-19-recovery {
  background: $covid-19-recovery;
}
.nlc-content-block__topic--the-new-normal {
  background: $the-new-normal;
}
.nlc-content-block__topic--systems-leadership {
  background: $systems-leadership;
}

.nlc-content-block__label {
  text-transform: lowercase;
  border: 1px solid $grey;
  font-family: $govuk-font-family;
  font-weight: 700;
  font-size: govuk-px-to-rem(16);
  line-height: govuk-em(22, 16);
  vertical-align: middle;
  display: inline-block;
  padding: 0 10px;
  margin-left: govuk-px-to-rem(10);
  border-radius: 10px;
  align-self: flex-start;
}
.nlc-content-block__read-time {
  display: inline-block;
  margin-left: 10px;
  font-size: govuk-px-to-rem(14);
  line-height: govuk-em(20, 14);
}
.nlc-content-block__minor-details {
  padding: govuk-px-to-rem(10px);

  @media only screen and (min-width: $tablet) {
    padding: govuk-px-to-rem(10px) govuk-px-to-rem(20px);
  }
}
