.page-title {
  font-weight: normal;
  font-size: govuk-px-to-rem(23);
  line-height: govuk-px-to-em(33, 23);
  margin: 7px 0 30px;
  @media (max-width: 660) {
    font-size: govuk-px-to-rem(23);
    line-height: govuk-px-to-em(33, 23);
  }
}
