.site-header {
  padding-bottom: 40px;
}
.site-header__first-row {
  padding: 22px 20px 34px;
  border-bottom: 1px solid $govuk-border-colour;
  @media (min-width: 660px) {
    padding: 51px 20px 65px;
  }
}
.site-header__first-row-inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.site-header__logo {
  max-width: govuk-px-to-rem(103);
  margin-bottom: 12px;
  line-height: 0;
  @media (min-width: 660px) {
    max-width: govuk-px-to-rem(112);
    margin-right: govuk-px-to-rem(69);
  }
}
.site-header__logo a {
  display: block;
}
.site-header h1 {
  margin: 0;
}
.site-header__content {
  flex-grow: 2;
}
.site-header__second-row {
  padding: 0 19px 0 21px;
}
.site-header__link,
.site-header__link:link,
.site-header__link:visited {
  color: $grey;
  text-decoration: none;
  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
.site-header__link--service-name {
  font-size: govuk-px-to-rem(29);
  line-height: 1.4137931em;
}
