.site-header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.site-header__logo {
	max-width: 25rem;
	width: 50%;
	padding: 4%;
	padding-left: 10px;
	line-height: 0;
}
.site-header__logo a {
	display: block;
}
.site-header h1 {
	margin: 0;
}