{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<div class="nlc-content-block">
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'nlc-content-block__item',
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{- row.content -}}
  </div>
{% endfor %}
</div>