{% extends 'block--system-menu-block.html.twig' %}

{% block title %}
<h2{{ title_attributes.setAttribute('id', heading_id).addClass('footer-main__social__heading') }}>{{ configuration.label }}</h2>
{% endblock %}
