$white: white;
$grey: #323e48;
// This grey is accessible as a background color behind $grey https://webaim.org/resources/contrastchecker/?fcolor=323E48&bcolor=EAEDF0
$very-light-grey: #f3f6f9;
// This is used in the header
$support-grey: #b3babf;
$orange: #ed6b1c;
$red: #ce132d;
$yellow: #ffdb03;
$pale-yellow: #fdfae6;
