$white: white;
$grey: #323E48;
// This grey is accessible for text on white https://webaim.org/resources/contrastchecker/?fcolor=5A7A81&bcolor=FFFFFF
$light-grey: #5A7A81;
// This grey is accessible as a background color behind $grey https://webaim.org/resources/contrastchecker/?fcolor=323E48&bcolor=EAEDF0
$very-light-grey: #EAEDF0;
$orange: #ED6B1C;
/* This orange has sufficient color contrast against white. Large text only. https://webaim.org/resources/contrastchecker/?fcolor=FFFFFF&bcolor=EE701C */
$orange-against-large-white-text: #EE701C;
/* This orange has sufficient color contrast against white with all text sizes */
$orange-against-regular-white-text: #C2570F;
$pale-yellow: #FDFAE6;
$yellow: #FFDB03;
$red: #CE132D;
$blue: blue;

// Topic colours
$ways-of-working: #CE132D;
$wellbeing: #EE701C;
$crisis-leadership: #FFDB03;
$covid-19-response: #8844AA;
$covid-19-recovery: #0F847F;
$the-new-normal: #286DC7;
$systems-leadership: #323E48;